* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #cdcdcd35;
}

section {
    background-color: #000000eb;
    color: #ffffff;
    text-align: center;
    margin: auto;
    padding: 5em;
    min-width: 250px;
    max-width: 350px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 10px;
}

h2 {
    padding-bottom: .5em;
    letter-spacing: 5px;
}

.btn__add {
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    background-color: #abff2e;
}

.input__item {
    border: none;
    height: 1.5em;
    padding: 5px;
    border-radius: 5px;
    width: 12em;
    outline: none;

}

/* .input__item:active {
    
} */

.btn__add:hover {
    background-color: #7fff00;
    transition: 1.5s;
}

#adicionado {
    display: none;
    margin-top: 10px;
    padding: 5px;
    max-width: 350px;
    border: 2px solid #cdcdcd35;
    border-radius: 5px;
    list-style: none;
}

